#circle{ 
	margin: 0 auto;
	padding: 2 em;
	
}
#ans1{
display:none;
}
#ans2{
display:none;
}
#ans3{
display:none;
}
#ans4{
display:none;
}
#ans5{
display:none;
}
#ans6{
display:none;
}
#ans7{
display:none;
}
#ans8{
display:none;}
