#circle{ 
	margin: 5% 30%;
	padding: 2 em;
	height: 10%;
	width:auto;
}

h3{
	text-align: center;
}
img{
	max-width: 100% !important;
}

#query{
	margin: 5% 10% 5% 10%;
	text-align: center;
}

#ans1{
display:none;
}
#ans2{
display:none;
}
#ans3{
display:none;
}
#ans4{
display:none;
}
#ans5{
display:none;
}
#ans6{
display:none;
}
#ans7{
display:none;
}
#ans8{
display:none;}
