#apple{ 
	margin: -10% 0 0 0;
}

#ask-georgie-header{ 
	padding: 0.7em;
   margin: 3em;
   background: #f29ab9;
   color: #fff;
   line-height: 1.3em;
   border: 4px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #f29ab9, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-weight: normal;
	text-shadow: 3px 3px #545b57;
}

.small{
	color: #fff;
}

#circle{ 

	margin: 5% 25% 5% 40%;
	border-radius: 50% 50%;
	box-shadow: 0 0 0 0 #646c68, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}


h3{
	color: #aaa;
	text-shadow: -2px 0px 4px rgba(10, 10, 10, 1);
	padding: 0 20%;
	font-size: 300%;
}

img{
	max-width: 100% !important;
}


#query{
	margin: 5% 10% 5% 10%;
	text-align: center;
}
.georgie-answers{
	margin: 5% 10% 5% 10%;
	text-align:center;
	font-family: 'Pacifico';
	font-size: 500%;
}

#ask-space{
	text-align: justify;
	color: #000;
	font-family: 'tilli';
}
#ans1{
display:none;
}
#ans2{
display:none;
}
#ans3{
display:none;
}
#ans4{
display:none;
}
#ans5{
display:none;
}
#ans6{
display:none;
}
#ans7{
display:none;
}
#ans8{
display:none;}

#query{
	padding: 0.7em;
   margin: 3em;
   background: #f29ab9;
   color: #fff;
   line-height: 1.3em;
   border: 4px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #f29ab9, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-weight: normal;
	text-shadow: 3px 3px #545b57;
	height: auto;
}

#h6{
	font-family: 'Pacifico', cursive;
}