.character-section{
	text-align:justify;
	background-color: #45f425;
	margin: 0 auto;
	padding: 10%;
}

#rudy{
	background-color: #897545;
}

.prof-photo{ 
	margin: 5% 25% 5% 25%;
	padding: 2 em;
	height: auto;
	width:50%;
	
}

h2{
	text-align:center;
}
img{
	max-width: 100% !important;
}