.character-section{
	text-align:justify;
	background-color: #45f425;
	margin: 0 auto;
	padding: 10%;
}

#rudy{
	background-color: #897545;
}

.prof-photo{ 
	margin: 5% 30%;
	padding: 2 em;
	height: 10%;
	width:auto;
	
}

h2{
	text-align:center;
}