@font-face{
	font-family: forque;
	src: url("../fonts/Forque.ttf");
}

@font-face{
	font-family:limelight;
	src: url("../fonts/Limelight.ttf");
}

h1{
		font-family: forque;
		text-align: center;
		font-size: 600%;
}

h5{
		font-family: forque;
		border-radius: 5px;
		text-align: center;
		font-size: 200%;
}

h2{
	font-family: limelight;
    margin: 0;     
    padding: 0.5em;
    font-size: 200%; 
	text-shadow: 3px 3px #545b57;
}

h3{
	font-family: limelight;
	font-size: 100%;
	margin: 0.5em;
	text-shadow: 3px 3px #545b57;	
}
#apple{ 
	margin: -10% 0 0 0;
}
img{
	max-width: 100% !important;
}

ul{
	list-style-type: none;
}

li{
	font-family: limelight;
}

.item{
    background: #333;    
    text-align: center;
	border-radius: 5px;
    height: 300px !important;
}
.carousel{
    margin-top: 1em;
	border-radius: 5px;
}
.pictureSlide{
	margin: 1em 2em;
}

.twitter{
	margin: 2em;
	height: 20%;
}

