
#videoBanner{
	padding: 0.7em;
   margin: 3em auto;
	width: 80%;
   background: #76979c;
   color: #fff;
   line-height: 1.3em;
   border: 4px dashed #c62813;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #76979c, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-weight: normal;
	text-shadow: 3px 3px #545b57;
}

#video-intro{
	margin: 10% auto;
	padding 20%;
	width: 100%;
	position: relative;
	background-color: #76979c;
	font-size: 300%;
	height: 70%;
}

h3{
	font-family: 'Bree Serif', serif;
	font-size: 30px;
	margin: 5% 20% -10% 20%;
	color: #fff;
}

#video-intro li{
	font-family: 'Bree Serif', serif;
	font-size: 50%;
	margin: 0.5em;
	color: #fff;
	list-style: none;
}

#video-intro li a:hover{
	text-decoration: none;
	color: #cecece;
}

#video-intro.affix{
	position: fixed;
	top: 0;
	width:100%;
}



#humphrey{
	text-align:center;
	background-repeat:repeat;
	background-color: #f9fbba;
	margin: 0 auto;
	width: 100%;
	height: auto;
	position: relative;
}
#felix{
	text-align:center;
	background-repeat:repeat;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: #ff7a32;
}
#goldie{
	text-align:center;
	background-repeat:repeat;
	background-color: #fbb7d2;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
}
.video-container{
	width: 80%;
	padding: 2em;
	margin: 0 auto;
	position: relative;
	max-height: 80vmin;
}
.video{
	width:80%;
	height:auto;
}