
h1{
		padding: 1em;
		background: #423547;
		color: #374194;
		border-radius: 5px;
		text-align: center;
}
	
h2{
    margin: 0;     
    color: #666;
    padding: 0.5em;
    font-size: 2em;
    font-family: "trebuchet ms", sans-serif;    
}

h3{
	font-size: 1.5em;
	margin: 0.5em;
}

ul{
	list-style-type: none;
}
vid-img{
	background-image: url(images/mirror.jpg);
}
.item{
    background: #333;    
    text-align: center;
	border-radius: 5px;
    height: 300px !important;
}
.carousel{
    margin-top: 1em;
	border-radius: 5px;
}
.pictureSlide{
	margin: 1em 2em;
}

.twitter{
	margin: 2em;
	height: 20%;
}

videoBanner{
	padding: 2em;
	margin: 2em;
	text-align: center;
	background-color: #349134;
}
#video-intro{
	text-align:center;
	height:auto;
	margin:0 auto;
	width: 100%;
	background-color: #344ab4;
	position: relative;
}

#humphrey{
	text-align:center;
	background-color: #d23463;
	height:100vh;
	margin: 0 auto;
	width: 100%;
	position: relative;
	width: 100%;
	padding: 2em 0;
}
#felix{
	text-align:center;
	background-color: #a25457;
	height:100vh;
	margin: 0 auto;
	width: 100%;
	position: relative;
	width: 100%;
	padding: 2em 0;
}
#goldie{
	text-align:center;
	background-color: #c35687;
	height:100vh;
	margin: 0 auto;
	width: 100%;
	position: relative;
	width: 100%;
	padding: 2em 0;
}
#video-container{
	width: 80%;
	padding: 2em;
	margin: 0 auto;
	position: relative;
	
}
.video{
	width:100% !important;
	height:auto !important;
}